//VARIABLES
/* SCSS RGB */
$persian-indigo: rgba(60, 9, 108, 1);
$french-violet: rgba(123, 44, 191, 1);
$mauve: rgba(224, 170, 255, 1);
$pale-purple-pantone: rgba(248, 235, 255, 1);
$chrome-yellow: rgba(250, 169, 22, 1);
$grey: #F5F5F5;


:root {
    --radius: 0.5rem;
    --transition: all 0.3s linear;   
}

/* SCSS Gradient
$gradient-top: linear-gradient(0deg, #3c096cff, #7b2cbfff, #e0aaffff, #f8ebffff, #faa916ff);
$gradient-right: linear-gradient(90deg, #3c096cff, #7b2cbfff, #e0aaffff, #f8ebffff, #faa916ff);
$gradient-bottom: linear-gradient(180deg, #3c096cff, #7b2cbfff, #e0aaffff, #f8ebffff, #faa916ff);
$gradient-left: linear-gradient(270deg, #3c096cff, #7b2cbfff, #e0aaffff, #f8ebffff, #faa916ff);
$gradient-top-right: linear-gradient(45deg, #3c096cff, #7b2cbfff, #e0aaffff, #f8ebffff, #faa916ff);
$gradient-bottom-right: linear-gradient(135deg, #3c096cff, #7b2cbfff, #e0aaffff, #f8ebffff, #faa916ff);
$gradient-top-left: linear-gradient(225deg, #3c096cff, #7b2cbfff, #e0aaffff, #f8ebffff, #faa916ff);
$gradient-bottom-left: linear-gradient(315deg, #3c096cff, #7b2cbfff, #e0aaffff, #f8ebffff, #faa916ff);
$gradient-radial: radial-gradient(#3c096cff, #7b2cbfff, #e0aaffff, #f8ebffff, #faa916ff);
*/

// ELEMENTOS
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    color: #3e4d53;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $grey;  
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    max-width: 700px;
}

h1, h2, h3, h4 {
    font-family: 'Dosis', sans-serif;
}

h1 {
    color: $persian-indigo;
    font-size: 1.8rem;
}

h2 {
    color: $mauve;
    font-size: 1.6rem;
    padding: 0.5rem 0;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.4rem;
    color: $french-violet;
}

h4 {
    font-size: 1.1rem;
}

article {
    border-radius: var(--radius);
    box-shadow: (10 10 10 / 15%) 0px 4px 10px;
    background-color: white;
    margin-top: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: transparent;
}

footer {
    background-color: $persian-indigo;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
    opacity: 0.95;
    .material-icons{
        color: $mauve;
    }
}

// CLASES
.filter-btn {
    background: $pale-purple-pantone;
    border-color: $mauve;
    font-size: 0.9rem;
    text-transform: capitalize;
    margin: 0.2rem 0.2rem;
    border-radius: var(--radius);
    padding: 0.3rem 0.5rem;
    color: $persian-indigo;
    transition: var(--transition);
  &:hover {
    background: $persian-indigo;
    color: $pale-purple-pantone;
  }
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.menu-item img{
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.item-info{
    padding: 0.2rem 0.3rem;
}

.material-icons {
    font-size: 2.1rem !important;
    color: $french-violet;
}

.item-description {
    display: flex;
    justify-content: space-between;
}

.space {
    height: 4.5rem;
}